In [17]:
#----------------------
# Fervis Lauan   2017-10
# Climate Analysis
# Data Engineering
#-----------------------
import pandas as pd

# 1 - Data Validation & Cleansing

In [18]:
#Perfome data validation and cleansing on hawaii_measurements.csv
file = "./Resources/hawaii_measurements.csv"
df_hi_measure = pd.read_csv(file)
df_hi_measure.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [19]:
#Get non-null total records count by column
df_hi_measure.count()
#PRCP appears to have null value

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [20]:
#Verify null values by taking counts of records with null
df_hi_measure.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [21]:
#prcp is a key metric required in the analysis.
#In this case, drop records with null value from the dataset
df_hi_measure = df_hi_measure.dropna(how='any',axis=0)

In [22]:
#check counts in the cleaned dataset
df_hi_measure.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [23]:
#save cleaned dataset to a new file
df_hi_measure.to_csv('./Resources/clean_hawaii_measurements.csv')

In [24]:
#Perfome data validation and cleansing on hawaii_stations.csv

file = "./Resources/hawaii_stations.csv"
df_hi_stations = pd.read_csv(file)
df_hi_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [25]:
#Get non-null total records count by column
df_hi_stations.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [26]:
#all records appear to have all fields populated
#save verified dataset to a new file
df_hi_stations.to_csv('./Resources/clean_hawaii_stations.csv')

In [27]:
#### Data validation and cleansing complete #####

# 2 Create SQL Database and Tables

In [28]:
#create class
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date

Base = declarative_base()

class Measurement(Base):
    __tablename__ = 'measurements'
    station = Column(String(100), primary_key=True)
    measure_date = Column(Date, primary_key=True)
    precip = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'stations'
    station = Column(String(100), primary_key=True)
    station_name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [29]:
#connect to MySQL DB
engine = create_engine('mysql://b5kj3n966clep7oc:wae1501lpo2yoilq@ehc1u4pmphj917qf.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/et3812lmc7w8mzbn')
#engine = create_engine("mysql+gaerdbms:///surfer?instance=elite-ceremony-182022:us-east1:fl-rucloudhw1-db")

conn = engine.connect()    

#Create tables
Base.metadata.create_all(engine)

In [30]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [31]:
#load cleaned file clean_hawaii_measurements.csv
file = "./Resources/clean_hawaii_measurements.csv"
df_cln_hi_measure = pd.read_csv(file)

for index, row in df_cln_hi_measure.iterrows():
    
    measure = Measurement(station=row["station"],measure_date=row["date"],precip=row["prcp"],tobs=row["tobs"])
    session.add(measure)
    session.commit()

In [32]:
#load cleaned file clean_hawaii_stations.csv
file = "./Resources/clean_hawaii_stations.csv"
df_cln_hi_station = pd.read_csv(file)

for index, row in df_cln_hi_station.iterrows():
    station = Station(station=row["station"],station_name=row["name"],latitude=row["latitude"],longitude=row["longitude"],elevation=row["elevation"])
    session.add(station)
    session.commit()